* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Noto Sans TC", "Arial", "sans-serif", "Roboto",
    "Shippori Mincho";
  letter-spacing: 0.075em;
}

body {
  background-color: #fff;
  /* background-image: url(https://image.mycard520.com/globalmycard/webdesign/CAD2502158-98605517/bg.webp); */
  /* background: url(./img/kv/bg.jpg) center; */
  background-size: cover;
  background-repeat: repeat;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  color: #333333;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #fac457;
  border-radius: 4px;
}

footer {
  width: 100%;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 1rem 0px;
  font-size: 14px;
}

@media (max-width: 570px) {
  body::-webkit-scrollbar {
    width: 6px;
  }
}

.lever2-btn::-webkit-scrollbar {
  height: 6px;
}

.lever2-btn::-webkit-scrollbar-thumb {
  background-color: #ffecde;
  border-radius: 5px;
}











/* pc導覽列 *-------------------- start */
.header-logo {
  width: 100%;
  max-width: 100px;
  min-width: 64px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px #33333314;
  max-height: 60px;
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0px;
  z-index: 99;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  transform: none !important;
  transition: none !important;
}

.header-right ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 10px auto;
}

.header-right ul li {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: inline-block;
  position: relative;
  margin: 0px 20px;
  cursor: pointer;
  font-weight: bolder;
  transition: color 0.3s;
}

.header-right ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #333;
  bottom: -2px;
  left: 0;
  transition: width 0.3s, background 0.3s;
}

.header-right ul li:hover::before {
  width: 100%;
  color: #ffffff;
  background-color: #ab6f43;
}

.header-right ul li a:hover {
  color: #696969;
  transition: color 0.3s;
}

.header-btn a {
  display: block;
  color: #fff;
  background-color: #333;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bolder;
}

.header-btn a:hover {
  color: #000;
  background-color: #cbefc7;
  transition: background 0.3s;
  cursor: pointer;
}

.mb-header__openbtn {
  display: none;
}

/* pc導覽列 --------------------end */











/* mb導覽列 *--------------------start */

@media (max-width: 768px) {
  .mb-header__openbtn {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    z-index: 100;
  }

  .mb-header__openbtn span {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #333;
    margin: auto;
    width: 40%;
    transition: transform 0.3s, opacity 0.3s;
  }

  .mb-header__openbtn span:nth-child(1) {
    top: 16px;
  }

  .mb-header__openbtn span:nth-child(2) {
    top: 24px;
  }

  .mb-header__openbtn span:nth-child(3) {
    top: 32px;
  }



  /* 漢堡切換成 X */
  .mb-header__openbtn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .mb-header__openbtn.active span:nth-child(2) {
    opacity: 0;
  }

  .mb-header__openbtn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* 手機下預設隱藏 nav */
  .header-right {
    display: none;
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    max-width: 280px;
    height: 100vh;
    background-color: #e7e7e7;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80%;
    
  }

  /* 開啟時才顯示 */
  .header-right.open {
    display: flex;
  }

  /* 遮罩 */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 90;
  }

  .overlay.open {
    display: block;
  }

  /* nav 內項目直排 */
  .header-right ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .header-right ul li {
    margin: 1rem 0;
  }

  .header-btn a {
    display: block;
    margin: 1.5rem 0;
    width: 180px;
    text-align: center;
  }
}

/* mb導覽列 --------------------end */




.container-kv {
  background-color: #fff;
}

.kv {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}


.kv .kv-img img {
  width: 100%;
  max-width: 560px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}


.kv .kv-info {
  padding-left: 4%;
  max-width: calc(100%/2);
}

.kv .kv-info h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1.5rem !important;
}

.kv .kv-info h1 span {
  background: linear-gradient(to top, #ffffff00 12%, #fac457 12%, #fac457 35%, #ffffff00 35%, #ffffff00 100%);
}


.kv .kv-info ul li {
  list-style: none;
  margin-bottom: 12px;
  font-size: 18px;
}

.kv .kv-info ul li:before {
  content: "▶";
  color: #c87167;
  margin-right: 8px;
}

.kv .kv-info .btn {
  margin-top: 4%;
}

.btn a {
  cursor: pointer;
  border-radius: 40px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 1rem 3rem;
  background-color: #fff;
  border: 1px solid #c43d08;
  color: #c43d08;
  display: inline-flex;
  align-items: center;
  margin: 0 2% 2% 0;
  width: 100%;
  text-align: center;
  max-width: 240px;
  justify-content: center;
}

.btn a:last-child {
  background-color: #ffebde;
  border: 1px solid #ad4337;
  color: #c43d08;
}

.btn a:hover {
  filter: hue-rotate(200deg);
}


.info-detail {
  background-color: #f7f7f7;
  border-radius: 0px 140px 0px;
}

.flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 6%;
}

.tagcloud {
  text-align: right;
}


.tag-cloud-link {
  display: inline-flex;
  background-color: #d1e6f0;
  padding: 1rem;
  border-radius: 16px;
  margin-bottom: 2%;
  color: #333333;
}

.space {
  padding: 2%;
}

.col-3 {
  width: 100%;
  max-width: 25%;
}

.col-4 {
  width: 100%;
  max-width: 33.3333333%;
}

.col-6 {
  width: 100%;
  max-width: calc(100%/2);
}

.col-7 {
  width: 100%;
  max-width: 58.3333333%;
}

.style-hr {
  width: 100%;
  margin: 0 auto;
}

.style-hr hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.work-detail .style-hr hr {
  max-width: 58.33333%;
  margin-left: 33.3333333%;
}


.space h2 {
  font-size: 36px;
  text-align: center;
}

.work-detail .col-3 {
  margin-bottom: 20px;
}

.space h3 {
  font-size: 24px;
  margin: 0 auto;
  letter-spacing: -.1px;
  text-align: center;
}

.max-area {
  max-width: 1600px;
}

ul li {
  list-style-type: none;
}

.space ul .list-title {
  margin: .8% auto;
  background-color: #def0f8;
  display: inline-block;
}



/* mb-kv *--------------------start */
@media (max-width: 1200px) {
  .max-area {
    padding: 2% 6%;
  }

  .kv {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
  }

  .kv .kv-img img {
    max-width: 280px;
  }

  .kv .kv-info {
    padding: 0 4%;
    max-width: calc(100%);

  }

  .kv .kv-info h1 {
    font-size: 32px;
    text-align: center;
  }

  .kv .kv-info .btn {
    text-align: center;
  }

  .info-detail {
    border-radius: 60px 0px 0px 0px;
  }

  .tag-cloud-link {
    padding: .6rem;
    border-radius: 8px;
  }

  .flex {
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }

  .tagcloud {
    text-align: left;
    margin: 0 auto;
    padding: 4% 4% 0;
  }

  .col-3,
  .col-4,
  .col-6,
  .col-7 {
    width: 100%;
    max-width: 100%;
  }

  /* .space {
    padding: 4% 6%;
  } */

  .work-detail .style-hr hr {
    max-width: 100%;
    margin: 0 4%;
  }
}

.goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e6685a;
  color: white;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 10%;
  font-weight: 700;
}

.goTopBtn:hover {
  background-color: #de3535;
}

.resent-work {
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}


.resent-work h2 {
  display: block;

  margin-bottom: 2%;
}

.resent-work-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.info-work {
  border: 1px solid #333;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: calc(100%/4 + 60px);
  margin-bottom: 2%;
  justify-content: space-between;
}

.info-work .work-tag {
  display: inline-flex;
  background-color: #f19d2f;
  position: absolute;
  align-items: center;
  padding: 0px 8px;
  border: 1px solid transparent;
  border-radius: 10px 0px 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  z-index: 1;
}

.info-work .work-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.info-work .work-img img {
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  object-fit: cover;
}


.info-work .work-img img:hover {
  transform: translateY(-10px) scale(1.05);
  /* 上升 + 放大 */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  /* 增加陰影 */
}

.swiper-slide .work-img {

  cursor: auto;
}

.swiper-slide .work-img img:hover {
  transform: translateY(0px) scale(1);
  /* 上升 + 放大 */
}

.info-work .link {
  text-align: right;
}

.info-work p a {
  color: #c05549;
  border-bottom: 1px dashed #d4950d;
}

.tools-detail li {
  list-style: none;
  font-weight: 400;
  color: #3d3d3d;
  border: 1px solid #bebebe;
  border-radius: 4px;
  display: inline-block;
  margin: 2% auto;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 18px;
}

/* 20240714 1149update--> */

@media (max-width: 768px) {
  .info-work {
    min-width: calc(100%);
  }

}


.swiper-pagination-bullet {
  background: #fcb9b9ef !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet-active {
  background: #ff2626 !important;
  width: 24px !important;
  border-radius: 100px !important;
}

.swiper-pagination {
  bottom: -4px !important;
}